.header{
    display: flex;
    height: 80vh;
    background-image: url('/assets/images/bg2.jpg');
}
.sloganDiv{
    width:20%;
    text-align: center;
}
.slogan{
    margin-top: 100px;
    color: bisque;
}
.img{
    display: flex;
    width:88%;
}
.img1{
    width: 33%;
    background-image: url('/assets/images/c11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    width: 33%;
    background-image: url('/assets/images/sports.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.img3{
    background-image: url('/assets/images/hostels.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}