.header{
    display: flex;
    height: 80vh;
    /* background-image: url('/assets/images/c1.jpg'); */
}
.sloganDiv{
    width:40%;
   text-align: center;
   
}
.slogan{
    margin-top: 140px;
    font-size: 48px;
    font-weight: bolder;
    color: black
    /* height:100%; */
}
.img{
    display: flex;
    width:60%;
}
.img1{
    width: 100%;
    background-image: url('/assets/images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.btnBook{
    background-color: rgb(51, 163, 70);
    color: white;
}