<div class="container">
    <div class="heading">
        <button mat-raised-button color="primary">Choose any Department Student</button>
    </div>
    <mat-grid-list cols="2" rowHeight="2:1" >
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-title-group>
                  <mat-card-title>Muhammad Zeeshan</mat-card-title>
                  <mat-card-subtitle>Department: Mechanical Engineering</mat-card-subtitle>
                  <mat-card-subtitle>Semester: 5th</mat-card-subtitle>
                  <img mat-card-md-image src="assets/images/img.jpg" class="student-img">
                </mat-card-title-group>
                <mat-card-content>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.<br> Recusandae, dicta.
                </mat-card-content>
                <button mat-raised-button color="primary">Book A Session</button>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-title-group>
                  <mat-card-title>Muhammad Zeeshan</mat-card-title>
                  <mat-card-subtitle>Department: Computer Science</mat-card-subtitle>
                  <mat-card-subtitle>Semester: 4th</mat-card-subtitle>
                  <img mat-card-md-image src="assets/images/img.jpg"  class="student-img" >
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, fugiat.
                </mat-card-content>
                <button mat-raised-button color="primary">Book A Session</button>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-title-group>
                  <mat-card-title>Muhammad Zeeshan</mat-card-title>
                  <mat-card-subtitle>Department: Civil Engineering</mat-card-subtitle>
                  <mat-card-subtitle>Semester: 6th</mat-card-subtitle>
                  <img mat-card-md-image src="assets/images/img.jpg"  class="student-img" >
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Sint, fugiat.
                </mat-card-content>
                <button mat-raised-button color="primary">Book A Session</button>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-title-group>
                  <mat-card-title>Muhammad Zeeshan</mat-card-title>
                  <mat-card-subtitle>Department:Electrical Engineering</mat-card-subtitle>
                  <mat-card-subtitle>Semester: 3rd</mat-card-subtitle>
                  <img mat-card-md-image src="assets/images/img.jpg"  class="student-img" >
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, fugiat.
                </mat-card-content>
                <button mat-raised-button color="primary">Book A Session</button>
            </mat-card>
         
        </mat-grid-tile>
      </mat-grid-list>
   
</div>
